$color: #fff;
$color-primary: #61dafb;
$color-bg: #282c34;
@import './_mixin.scss';

@import url(https://fonts.bunny.net/css?family=anton:400);
@import url(https://fonts.bunny.net/css?family=montserrat:300,700);

// Main Color :

$color_black: #0B0B0B ;
$color_yellow: #e0ab5a;
$color_white: #EFEFEF;

// Font :

$font_anton: 'Anton', sans-serif;
$font_montserrat: 'Montserrat', sans-serif;